.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.marker {
  z-index: 1;
  cursor: pointer;
  padding: 20px;
  font-size: 20px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0;
  border-radius: 50%;
}

.Negative {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/1.png");
}
.Positive {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/3.png");
}
.Neutrual {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/2.png");
}

.message {
  position: absolute;
  margin-left: 20px;
  margin-bottom: 10px;
  left: 30px;
  padding: 10px;
  background-color: #f8e896;
  width: 200px;
  height: 50px;
  text-align: left;
  font-size: 15px !important;
  border: 1px solid #dfd087;
  border-radius: 10px;
}
.message:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #f8e896;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}
.active {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
